<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/chamados/css/lista_chamados.css">
    <title>Chamados | Lista</title>
</head>
<body>  
    <h1>REGISTROS DE CHAMADOS</h1> 
    <table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">CHAMADOS</th>
            <th scope="col">URGENCIA</th>
            <th scope="col">NECESSIDADE</th>
        </tr>
    </thead>
    <tbody>
    {% for chamado in chamados %}
        <tr>
            <th scope="row">{{ chamado.id }}</th>
            <td><a href="{% url 'detail' chamado.id %}">{{ chamado.problema }}</a></td>
            <td>SOCORRO</td>
            <td>QUERO DORMIR</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <div class="div-buttons">
        <a href="{% url 'formsColaborador' %}"><button style="width: 120px;">Novo Chamado</button></a>
        <a href="{% url 'relatorio' %}"><button>Relatório</button></a>
    </div>
</body>
</html>

